aside {
	width: 233px;
	min-height: 500px;
}
aside.right {
	margin-left: auto;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.bg-red {
	background-image: url(../images/bg-red.jpg);
}
.bg-orange {
	background-image: url(../images/bg-orange.jpg);
}
.bg-yellow {
	background-image: url(../images/bg-yellow.jpg);
}
.bg-green {
	background-image: url(../images/bg-green.jpg);
}
.bg-cyan {
	background-image: url(../images/bg-cyan.jpg);
}
.bg-blue {
	background-image: url(../images/bg-blue.jpg);
}
.bg-purple {
	background-image: url(../images/bg-purple.jpg);
}
.bg-pink {
	background-image: url(../images/bg-pink.jpg);
}
.bg-black {
	background-image: url(../images/bg-black.jpg);
}

